<!DOCTYPE html>
<html>
    <head>
        <title>Live Transcription</title>
        <style>
            .container {
                display: flex;
            }
            .transcript-container {
                flex: 1;
                padding: 1rem;
            }
        </style>
    </head>
    <body>
        <h1>Transcribe and Translate Audio</h1>
        <p id="status">Connection status will go here</p>
        <div class="container">
            <div id="transcript" class="transcript-container"></div>
            <div id="translated" class="transcript-container"></div>
        </div>

        <script>
               navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
            if (!MediaRecorder.isTypeSupported('audio/webm'))
                return alert('Browser not supported')

            const mediaRecorder = new MediaRecorder(stream, {
                mimeType: 'audio/webm',
            })

            const socket = new WebSocket('ws://localhost:8000/listen')

            socket.onopen = () => {
                document.querySelector('#status').textContent = 'Connected'
                console.log({ event: 'onopen' })
                mediaRecorder.addEventListener('dataavailable', async (event) => {
                    if (event.data.size > 0 && socket.readyState == 1) {
                        socket.send(event.data)
                    }
            })
            mediaRecorder.start(250)
            }

            socket.onmessage = async (message) => {
                const received = JSON.parse(message.data)
                if (received) {
                    console.log(received)
                    document.querySelector('#transcript').innerHTML += `<p>${received.original}</p>`
                    document.querySelector('#translated').innerHTML += `<p>${received.translated}</p>`
                }
           }

           socket.onclose = () => {
            console.log({ event: 'onclose' })
        }

            socket.onerror = (error) => {
                console.log({ event: 'onerror', error })
            }

           })
        </script>
    </body>
</html>
